/* Main Styles ---------- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    text-align: center;
}

header {
    background-color: #f8f8f8;
    padding-top: 10px;
}

ul li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Navigation & Header Styles ---------- */

.main-nav ul li {
    padding: 10px 15px;
    background-color: white;
    margin: .5rem;
}

.about-me img {
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 70%;
}

.about-me p {
    padding-bottom: 2rem;
}
.desktop-nav {
    display: none;
}

/* Portfolio Styles ---------- */

.portfolio-content {
    padding-bottom: 2rem;
}

.portfolio-content img {
    max-width: 95%;
}

main h3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

figcaption {
    padding-bottom: 1rem;
}
.desktop {
    display: none;
}


/* Contact & Footer Styles ---------- */

.contact {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.background {
    background-color: #f8f8f8;

}

footer .container  {
    border-top: 1px solid #e0e0e0;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

.desktop-navigation {
    display: none;
}

/* Media Queries ---------- */

@media screen and (min-width: 768px) {
    .main-nav ul {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .main-nav ul li {
        padding: 0;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
        background-color: #f8f8f8;
    }
    .about-me {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-bottom: 2rem;
    }
    .about-me p {
        max-width: 50%;
        margin: 0 auto auto auto;
        text-align: left;
        
    }
    .about-me figure {
        padding-top: 0;
        margin: 0;
    }
    .about-me img {
        max-width: 90%;
        margin: 0;
    }
    .container {
        max-width: 780px;
    }
    .portfolio-items {
        display: flex;
        margin-bottom: 2.5rem;
    }
    figcaption {
        max-width: 80%;
        margin: auto;
    }
    #work-two {
        padding: 2rem;
    }
    #me {
        max-width: 60%;
        margin: auto;
    }
    .desktop-nav {
        display: none;
    }
    .desktop-nav li {
        margin-left: 1rem;
        font-size: 0.75rem;
    }
    .desktop {
        display: none;
    }
    .desktop-nav {
        display: none;
    }
    .desktop-navigation {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio-items {
        display: flex;
    }
    .container {
        max-width: 975px;
    }
   
    .desktop {
        display: flex;
        background-color: white;
        max-width: 1000px;
        margin: 0 auto;
    }
    .mobile-tablet {
        display: none;
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
    }
    .container .portfolio {
        max-width: 1000px;
        background-color: white;
    }
    body {
        background-color: #f8f8f8;
    }
    .about-me p {
        margin-left: 0;
        padding-left: 0;
    }
    .about-me figure {
        margin-right: 0;
        padding-right: 0;
    }
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        display: flex;
    }
    .mobile {
        display: none;
    }

}


